{
  "openapi": "3.0.0",
  "info": {
    "title": "Atrium FP Pipeline API",
    "version": "1.0.0",
    "description": "Reusable Atrium Tower fire-protection CAD pipeline (ezdxf + matplotlib, with native AutoCAD DWG ingest via LibreDWG). Given a base architectural drawing — a native AutoCAD .dwg or a .dxf, provided by public URL or base64 — and a floor sheet ID, it produces an architecture-preserving NFPA fire-protection overlay (devices, routing, coverage hatch, legend, auto schedule, title block), runs a 3-gate self-verification (G1 architecture untouched, G2 device-in-room containment, G3 within drawing extents), and exports print-ready DXF + PDF + PNG plus a per-device traceability CSV and verification MD/JSON. Returns the verification verdict, the auto device schedule, the device total, and downloadable URLs for all artifacts."
  },
  "servers": [
    { "url": "https://serverless.on-demand.io/apps/atrium-fp-pipeline" }
  ],
  "paths": {
    "/run": {
      "post": {
        "operationId": "runFireProtectionPipeline",
        "summary": "Generate an NFPA fire-protection overlay from a base architectural drawing",
        "description": "Runs the 6-stage fire-protection pipeline (base ingest -> FP overlay -> device placement + traceability -> auto schedule -> 3-gate self-verification -> NFPA print export). Provide base_file as a public URL (or base64) to a native AutoCAD .dwg or a .dxf, plus a floor_sheet_id such as A-111. TWO PLACEMENT MODES: omit `devices` for AUTOMATIC placement (one sprinkler per room tag, plus standard detectors/valves/call-points and routing); or pass an explicit `devices` array to place EXACTLY the devices you specify at your own coordinates (agent-designed layout) — typically after calling /inspect to read the rooms. For the highest fidelity, pass `zones` (rectangles/polygons): the tool lays an NFPA coverage grid of sprinklers per zone and draws routed branch + cross-main pipework with per-segment pipe sizes (Ø25->Ø150), and you can add the riser/ZCV/detectors via `devices`. Any combination works, and the 3-gate self-verification validates the result. Returns the verification verdict, the auto-aggregated device schedule, the total device count, the placement_mode, and URLs to the output artifacts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["floor_sheet_id"],
                "properties": {
                  "base_file": {
                    "type": "string",
                    "description": "Public URL to the base architectural drawing — a native AutoCAD .dwg or a .dxf. DWG is converted in-container via LibreDWG (dwg2dxf). Provide either base_file (URL) or base_file_base64."
                  },
                  "base_file_base64": {
                    "type": "string",
                    "description": "Base64-encoded bytes of the base drawing (.dwg or .dxf), as an alternative to base_file. Set base_file_name to indicate the extension (defaults to .dxf)."
                  },
                  "base_file_name": {
                    "type": "string",
                    "description": "Filename hint for base_file_base64, e.g. 'A-111.dwg', used to pick the .dwg/.dxf ingest path. Default base.dxf."
                  },
                  "floor_sheet_id": {
                    "type": "string",
                    "description": "Floor / sheet identifier, e.g. A-111. Names the outputs and the title block."
                  },
                  "nfpa_params": {
                    "type": "object",
                    "description": "Optional NFPA 13/14/72/170 rule overrides. Defaults: nfpa13 = Light hazard, density 4.1 mm/min, max area 20.9 m2, max spacing 4.6 m; nfpa14 = standpipe Class II, landing valve DN65, hose reel 30m DN25; nfpa72 = smoke spacing 9.1 m, heat 57 C, mcp travel 61 m; nfpa170 = fire-safety symbol set."
                  },
                  "ahj": {
                    "type": "string",
                    "description": "Authority Having Jurisdiction.",
                    "default": "ADCD"
                  },
                  "units": {
                    "type": "string",
                    "description": "Drawing units.",
                    "default": "mm"
                  },
                  "scale": {
                    "type": "string",
                    "description": "Plot scale annotation.",
                    "default": "1:200 (at A1)"
                  },
                  "containment_tolerance_mm": {
                    "type": "integer",
                    "description": "Gate-2 nearest-room tolerance in mm.",
                    "default": 8000
                  },
                  "output_formats": {
                    "type": "array",
                    "items": { "type": "string", "enum": ["dxf", "pdf", "png"] },
                    "description": "Subset of output formats to export.",
                    "default": ["dxf", "pdf", "png"]
                  },
                  "title_block": {
                    "type": "object",
                    "description": "Title-block field overrides: project_name, rfq, tenderer, revision."
                  },
                  "devices": {
                    "type": "array",
                    "description": "EXPLICIT agent-driven placement. When provided, the tool draws EXACTLY these devices at your coordinates instead of the automatic one-per-room-tag layout — so the agent designs the layout (e.g. fill each room on an NFPA spacing grid, clear of walls). Coordinates use the base drawing's units/coordinate system; call /inspect first to get room positions + extents. Sprinklers are auto-connected with cross-main + branch pipework. Omit this field for automatic placement.",
                    "items": {
                      "type": "object",
                      "required": ["type", "x", "y"],
                      "properties": {
                        "type": { "type": "string", "enum": ["sprinkler", "smoke", "heat", "mcp", "sounder", "zcv", "landing_valve", "hose_reel", "riser"], "description": "Device type (aliases such as smoke_detector, manual_call_point, wet_riser are also accepted)" },
                        "x": { "type": "number", "description": "X coordinate in drawing units, within the drawing extents" },
                        "y": { "type": "number", "description": "Y coordinate in drawing units, within the drawing extents" },
                        "tag": { "type": "string", "description": "Optional device tag; auto-numbered per type (e.g. SPK-01) if omitted" },
                        "model": { "type": "string", "description": "Optional model/EMS label; sensible default per type" },
                        "room": { "type": "string", "description": "Optional room/zone this device serves (recorded in the traceability CSV)" }
                      }
                    }
                  },
                  "zones": {
                    "type": "array",
                    "description": "ZONED layout mode (highest fidelity). For each zone the tool lays an NFPA coverage grid of sprinklers and draws routed branch + cross-main pipework with per-segment pipe sizes labelled (Ø25 -> Ø150). Define each zone as a rectangle or polygon in the drawing's coordinate system (use /inspect for room positions + extents). Combine with `devices` to add the riser, ZCV, detectors, MCPs, etc. at exact points.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string", "description": "Zone/room name (e.g. GYM, SAUNA)" },
                        "rect": { "type": "array", "items": { "type": "number" }, "description": "Axis-aligned rectangle [x0, y0, x1, y1] in drawing units" },
                        "polygon": { "type": "array", "items": { "type": "array", "items": { "type": "number" } }, "description": "Closed boundary [[x,y], ...] for non-rectangular rooms (use instead of rect)" },
                        "spacing_mm": { "type": "number", "description": "Sprinkler grid spacing in mm (default from NFPA hazard, ~4600 for Light)" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline complete — verification verdict, device schedule, and artifact URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tool": { "type": "string", "description": "Tool ID (atrium-fp-pipeline)" },
                    "version": { "type": "string", "description": "Tool version" },
                    "sheet": { "type": "string", "description": "Floor sheet ID" },
                    "device_total": { "type": "integer", "description": "Total devices placed" },
                    "placement_mode": { "type": "string", "description": "'auto' (room-tag algorithm), 'explicit' (the devices you supplied), or 'zoned' (NFPA coverage grid + sized routed pipework from your zones)" },
                    "schedule": {
                      "type": "object",
                      "description": "Device counts per FP layer, auto-aggregated from block attributes"
                    },
                    "verification": {
                      "type": "object",
                      "description": "3-gate self-verification report",
                      "properties": {
                        "overall": { "type": "string", "description": "PASS or FAIL (PASS only if gates 1, 2 and 3 all pass)" },
                        "gate1_arch_untouched": { "type": "boolean", "description": "Base layer set + entity total unchanged" },
                        "gate2_containment": { "type": "boolean", "description": "Every device associates to a real room tag within tolerance" },
                        "gate2_max_dist_mm": { "type": "number", "description": "Max nearest-room distance in mm" },
                        "gate3_within_extents": { "type": "boolean", "description": "Every device inside drawing extents" },
                        "device_total": { "type": "integer", "description": "Total devices" }
                      }
                    },
                    "artifacts": {
                      "type": "object",
                      "description": "Downloadable URLs for the generated artifacts",
                      "properties": {
                        "dxf": { "type": "string", "description": "R2010 DXF: untouched base + FP overlay" },
                        "pdf": { "type": "string", "description": "NFPA-colour print plan (PDF)" },
                        "png": { "type": "string", "description": "300-DPI PNG, >= 7000 px long edge" },
                        "csv": { "type": "string", "description": "Per-device traceability CSV" },
                        "verification_md": { "type": "string", "description": "3-gate verification report (Markdown)" },
                        "verification_json": { "type": "string", "description": "3-gate verification report (JSON)" },
                        "base_snapshot": { "type": "string", "description": "Base layers/entities/extents/room-tags snapshot (JSON)" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid input (base_file or floor_sheet_id absent, or base_file could not be fetched).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string", "description": "Error message" } }
                }
              }
            }
          },
          "500": {
            "description": "Pipeline execution error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "description": "Error type" },
                    "details": { "type": "string", "description": "Error details" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/artifact/{sheet}/{filename}": {
      "get": {
        "operationId": "getArtifact",
        "summary": "Download a generated artifact",
        "description": "Returns a single generated artifact (DXF / PDF / PNG / CSV / MD / JSON) for a given sheet. These URLs are returned by /run in the 'artifacts' object.",
        "parameters": [
          {
            "name": "sheet",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Floor sheet ID used in the run (e.g. A-111)"
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Artifact filename, e.g. A-111_FireProtection_detailed.pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "The artifact file.",
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "404": { "description": "Artifact not found" }
        }
      }
    },
    "/inspect": {
      "post": {
        "operationId": "inspectDrawing",
        "summary": "Inspect a base drawing — return its extents and room tags",
        "description": "Ingests a base .dxf/.dwg (URL or base64) WITHOUT placing anything, and returns the drawing extents plus the room tags (name + x/y coordinates). Call this FIRST when you want agent-designed placement: read the rooms, reason about NFPA coverage, then build a `devices` list and call /run.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base_file": { "type": "string", "description": "Public URL to the base .dxf or .dwg drawing" },
                  "base_file_base64": { "type": "string", "description": "Base64 bytes of the drawing (alternative to base_file)" },
                  "base_file_name": { "type": "string", "description": "Filename hint for base_file_base64 (e.g. A-111.dwg)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Drawing geometry for designing a layout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "extents": { "type": "object", "description": "Drawing bounds { min: [x,y,z], max: [x,y,z] }; every device placement must fall inside these" },
                    "room_count": { "type": "integer", "description": "Number of room tags found" },
                    "room_source": { "type": "string", "description": "Whether rooms came from the A-ANNO-ROOM layer or a fallback to all TEXT" },
                    "rooms": {
                      "type": "array",
                      "description": "Room tags with positions — use these to design device coordinates",
                      "items": { "type": "object", "properties": { "name": { "type": "string" }, "x": { "type": "number" }, "y": { "type": "number" } } }
                    },
                    "base_layers": { "type": "array", "items": { "type": "string" }, "description": "Architectural base layer names" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Service and engine health",
        "description": "Returns service status, the engine versions (ezdxf, matplotlib), and whether dwg2dxf is available for DWG ingest.",
        "responses": {
          "200": {
            "description": "Health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "description": "Service status" },
                    "version": { "type": "string", "description": "Tool version" },
                    "engine": {
                      "type": "object",
                      "description": "Engine versions",
                      "properties": {
                        "ezdxf": { "type": "string" },
                        "matplotlib": { "type": "string" }
                      }
                    },
                    "dwg2dxf": { "type": "boolean", "description": "Whether LibreDWG dwg2dxf is available" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
